<div class="container-top">
    <h3>Order History</h3>

    <div class="btn-section" style="margin-top:20px">
        <button type="button" id="back_to_order_btn" class="btn btn-secondary">Back To Order</button>
    </div>
</div>

<div class="container-bottom" style="top:120px">
    <table class="table table-striped table-hover">

        <thead>
        <tr>
            <th>Order ID</th>
            <th>Customer ID</th>
            <th>Order Date</th>
            <th>Total</th>
        </tr>
        </thead>

        <tbody id="order_history_tbody"></tbody>

    </table>
</div>
